<div>
  <label>First name</label>
  <input [(ngModel)]='firstName'>
</div>
<div>
  <label>Last name</label>
  <input [(ngModel)]='lastName'>
</div>
<div>
  <label>Address</label>
  <input [(ngModel)]='address'>
</div>
<div>
  <label>Phone</label>
  <input [(ngModel)]='phone'>
</div>
<div>
  <label>Email</label>
  <input [(ngModel)]='email'>
</div>
<div>
  <label>Date of Birth</label>
  <input type='date' [(ngModel)]='dob'>
</div>
<div>
    <button (click)='save()'>Save</button>
    <button (click)='cancel()'>Cancel</button>
</div>