table{
    width: 100%;
    border-collapse: collapse;
}
th {
    color: white;
    background: cadetblue;
    border: 1px solid white;
    padding: 5px;
}
td {
   border: 1px solid lightgray;
   padding: 3px; 
   color: #333;
}